@import 'constants/index.css';

/* ============================================= */
/* Spin Styles */
/* ============================================= */

.spin {
  animation: spin 1s linear infinite;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.5rem;
  color: var(--primary-color);
}

.loading-spinner::after {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border: 3px solid rgba(24, 144, 255, 0.3);
  border-radius: 50%;
  border-top-color: var(--primary-color);
  animation: spin 1s ease-in-out infinite;
  margin-left: 0.5rem;
}
